body {
  background-color: rgb(221, 252, 176);
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
}
.con {
  background-color: rgb(135 217 255);
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  padding: 15px;
  border-radius: 5px;
}
.cc {
  background-color: #eaeaea;
  text-align: center;
  padding-top: 26px;
  font-size: 30px;
  box-shadow: 0px 5px 5px -1px #9a9ab0;
  height: 50px;
}
.f {
  grid-area: 1/1/2/5;
}
.fp,.fm,.fg,.fl {
  background-color: #ffff8c;
}
.fc {
  background-color: #e28080;
    }